&.section-2018-apap {
	header {
		background: #243b87 url(get-zapp("img/2018/headers/apap.webp")) bottom no-repeat;
	}

	h1 {
		color: #fff;
	}

	.info:first-child {
		border-bottom: 3px solid #e6e034;
	}
}
