header {
	background-size: cover !important;
	text-align: center;
	
	nn-container {
		padding-inline: 3rem;
		padding-block: 0;
	}

	nn-row {
		height: 800px;
		align-items: center;
		margin-bottom: 0;
		position: relative;
		z-index: 2;
	}

	.three-scene {
		position: absolute;
    top: 0;
		z-index: 1;
		pointer-events: none;
	}

	h1 {
		font-size: 16px;
		color: #fff;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 400;
		strong {
			display: block;
			font-size: 50px;
		}
	}

	img {
		max-width: 100%;
	}

	.btn {
		width: auto;
		padding-inline: 1rem;
	}
}

.video {
	display: block;
	margin: 15px auto;
	transition: opacity 500ms ease;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	max-width: 340px;

	&:hover {
		opacity: 0.5;
	}
}

section.content {
	padding: 65px 0;
}

section.info {
	padding: 40px 0;

	em {
		color: #0071bc;
		font-style: normal;
	}

	p,
	li {
		color: #000;
		font-size: 14px;
		line-height: 2;
	}

	ul {
		padding-left: 28px;
	}

	li {
		line-height: 2;
	}

	h2 {
		color: #fbb03b;
		margin-bottom: 1rem;
		line-height: 1.25;

		small {
			display: block;
			color: #00a99d;
			font-size: 11pt;
		}
	}

	.skills_box {
		span {
			font-size: 8pt;
			font-weight: bold;
			display: inline-block;
			background-color: #0071bc;
			color: #fff;
			width: 60px;
			text-align: center;
			border-radius: 50%;
			padding: 22px 0;
			height: 60px;
			vertical-align: top;
			margin-right: 10px;
			letter-spacing: 0.5pt;
		}
	}
}

section.preview {
	text-align: center;

	img {
		width: 265px;
		margin: 0 -60px;
		transition: margin 500ms ease;
		@media (max-width: $MediumScreen) {
			display: none;
		}
	}

	.keep_mobile {
		@media (max-width: $MediumScreen) {
			display: inline-block;
		}
		@media (max-width: $SmallScreen) {
			width: 200px;
			margin: 0 -72px;
		}
	}

	&:hover > img {
		margin: 0 -40px;

		@media (max-width: $MediumScreen) {
			margin: 0 -60px;
		}
	}
}

.people {
	img {
		width: 190px;
		max-width: 100%;
	}

	h3 {
		line-height: 1;
		margin: -30px 0 45px;
		color: #245f5a;
		font-size: 11pt;
	}

	a {
		text-align: center;
		display: inline-block;
		margin: auto;
	}

	small {
		display: block;
		font-size: 9pt;
		color: #00a99d;
	}
}
