.gallery {
  display: block;

  article {
    height: 100%;
    position: relative;

    nn-scroll-area {
      @media only screen and (min-width: 992px) {
        max-height: 551px;
        padding: 0 0.5rem;
      }
    }

    > nn-row {
      @media only screen and (max-width: 992px) {
        img {
          margin-bottom: 1rem;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      border: 1px solid var(--color-border);
    }

    .docs-gallery {
      text-align: center;
      a {
        display: inline-block;
        margin-right: -60px;
        margin-left: -60px;
        opacity: 0.8;
        transition: all 500ms ease;
        &:hover {
          opacity: 1;
          transform: translateY(-30px);
        }
      }
    }
  }
}
