header {
  text-align: center;
  margin-block: 8rem;
  max-width: 800px;
  margin-inline: auto;

  svg {
    &.mb-logo {
      display: none;
      margin-inline: auto;
    }
  }

  h1 {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: normal;
    -webkit-margin-after: 2rem;
    margin-block-end: 2rem;

    &.compress-title {
      span {
        &:not(.stay) {
          opacity: 0;
          max-width: 0;
        }
      }
    }

    span,
    svg {
      vertical-align: middle;
    }

    span {
      display: inline-block;
      overflow: hidden;
      opacity: 1;
      max-width: 5rem;
      transition: max-width 0.5s ease 0.2s, opacity 0.2s ease, transform 0.2s ease;

      &:hover {
        transform: translateY(-10px);
      }
    }

    svg {
      circle {
        transition: fill 200ms ease;
      }
      path {
        transition: stroke 200ms ease;
      }
      &:hover {
        circle {
          fill: #485da1;
        }
        path {
          stroke: #6fcee9;
        }
      }
    }
  }

  h2 {
    margin-block-end: 0.5rem;
  }

  p {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-block: 0 1rem;
  }

  @media only screen and (max-width: 992px) {
    svg {
      &.mb-logo {
        display: block;
      }

      &.dt-logo {
        display: none;
      }
    }

    h1 {
      font-size: 2.5rem;
    }
  }
}
