ul {
  li {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul.list {
  list-style: disc;
  padding-left: 1.25rem;
  li {
    font-size: 14px;
    line-height: 1.5;
    text-transform: none;
  }
}

ul.buttons {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 3px;
  }
}

ul.standard {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    color: var(--color-foreground);
    margin-bottom: 0.25rem;
    font-size: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul.skills {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  li {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 3px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    padding: 0.5rem;
  }
}

ul.links {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

ul.navigation {
  list-style: none;
  padding-left: 0;
  margin: 0 0 1rem;

  li {
    a {
      font-size: 12px;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

ul.summary {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    > ul.summary {
      padding-left: 1rem;
    }
  }
}
