.loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: var(--color-foreground);
  overflow: hidden;

  span,
  p {
    opacity: 0.5;
  }

  span {
    font-size: 36px;
    margin-bottom: 0.25rem;
    animation: swim 500ms ease-in-out alternate infinite;
  }

  p {
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 13px;
  }
}