.table {
  > .table-head,
  > .table-body {
    > nn-row {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > .table-head {
    > nn-row {
      > nn-column {
        text-transform: uppercase;
        font-weight: 300;
        padding: 0.25rem 1rem;
        font-size: 14px;
      }
    }
  }
  > .table-body {
    > nn-row {
      background-color: var(--color-table-background);
      transition: background-color ease-in-out 200ms;
      &:hover {
        background-color: var(--color-table-background-hover);
      }
      > nn-column {
        padding: 0.5rem 1rem;
        
        &.controllers {
          padding: 0 0 2px 0;
        }
      }
    }
  }
}
