section.ground {
	font-size: 0;
	text-align: center;
	position: relative;

	.grass {
		background-color: #8cc63f;
	}

	.gallery {
		padding: 380px 0 100px;
		img {
			vertical-align: top;
			display: inline-block;
			border: none;
			transform: rotateZ(0deg);
			transition: all 200ms ease;
			margin: 1.5rem;
	
			&:hover {
				transform: rotateZ(5deg);
			}
	
			&:focus, &:active {
				outline: none;
			}
		}
	}

	.top {
		background-color: #8cc63f;
		width: 100%;
	}

	.ribbon {
		position: relative;
		z-index: 2;
		margin-bottom: -210px;
	}

	.body {
		background: #5e3119 url(get-zapp("img/2016/landing_underground.webp")) right center repeat-x;
		height: 453px;
		position: relative;
		background-size: contain;
		margin-bottom: -1px;

		// @media (max-width: 500px) {
		// 	height: 223px;
		// }
	}

	.bottom {
		position: relative;
		z-index: 1;
	}

	.pattern_01,
	.pattern_02 {
		width: 100%;
		height: 370px;
		margin-bottom: -370px;
	}

	.pattern_01 {
		background: url(get-zapp("img/2016/landing_cave_pattern_01.webp")) repeat-x top center;
	}

	.pattern_02 {
		background: url(get-zapp("img/2016/landing_cave_pattern_02.webp")) repeat-x top center;
		background-position-x: 123px;
	}
}
