header {
	position: relative;
	background: #3680d0 url(get-zapp("img/2016/landing_cloud_top.webp")) bottom left no-repeat;
	background-size: 100% !important;
	height: 100vh;
	min-height: 560px;
}