.nested-app.p2018 {
  $transition: 500ms;

  $orange: #f1b323;
  $purple: #546583;
  $dark_purple: #071429;
  $pink: #e76573;
  $green: #99d658;
  $cyan: #3dae9f;

  $darker_purple: #1d222a;

  $largeScreen: 1400px;
  $MediumScreen: 1120px;
  $SmallScreen: 800px;

  @import "2018/apap";
  @import "2018/application_cases";
  @import "2018/bpr";
  @import "2018/drlogic";
  @import "2018/gallery";
  @import "2018/home";
  @import "2018/presidente";

  background: #fff;

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    line-height: 1;
  }

  h2 {
    color: #000;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 1.5rem;

    @media (max-width: 500px) {
      font-size: 34pt;
    }

    strong {
      font-size: 22pt;
      display: block;
      width: 235px;
      margin: auto;
      padding: 7px 20px;
      letter-spacing: 4pt;
      background-color: #fbb03b;
      position: relative;

      &:before,
      &:after {
        content: "";
        display: block;
        background-color: #f7931e;
        width: 38px;
        height: 100%;
        margin: 0 10px 8px;
        position: absolute;
        top: 10px;
        z-index: -1;
      }

      &:before {
        right: -37px;
        @media (max-width: 500px) {
          right: -25px;
        }
      }
      &:after {
        left: -37px;
        @media (max-width: 500px) {
          left: -25px;
        }
      }

      @media (max-width: 500px) {
        font-size: 15pt;
        width: 160px;
      }
    }
  }
}
