.nested-app.p2016 {
  @import "2016/general/keyframes";
  @import "2016/general/layers";
  @import "2016/general/fonts";

  @import "2016/sections/main";
  @import "2016/sections/header";
  @import "2016/sections/letter";
  @import "2016/sections/projects";
  @import "2016/sections/ground";
  @import "2016/sections/references";
  @import "2016/sections/footer";

  font-family: "Quicksand", Helvetica, Arial, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  overflow: hidden;

  nn-scroll-area {
    scroll-behavior: smooth;
  }

  &.earthquake {
    animation-name: shake;
    animation-duration: 200ms;
    animation-iteration-count: 14;
  
    .city .giant {
      background-position-y: 1300px !important;
    }
  }
}
