@use "sass:math";

main.section-house {
  @keyframes gallery {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  $width: 400px;
  $height: 200px;
  $door-width: 140px;
  $door-height: 180px;
  $roof-height: 16px;
  $base-height: 20px;
  $extra-roof: 60px;
  $extra-base: 200px;
  $extra-grass: 600px;
  $door-frame-width: 10px;
  $frame-distance: 60px;
  $chimney-height: 300px;
  $chimney-width: 20px;
  $fence-height: 70px;
  $fence-width: 20px;
  $extra-fence: 60px;
  $fence-spacing: 4px;
  $pieces: 20;

  .workarea {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #2a374c;
  }

  .house {
    position: relative;
    perspective: 6000px;
    width: $width;
    height: $height;
    animation: gallery 20s infinite linear;
    transform-style: preserve-3d;

    * {
      position: absolute;
    }

    .chimney {
      transform: translateX(60px) translateY(#{$height - $chimney-height});
      transform-style: preserve-3d;
      > * {
        width: $chimney-width;
        height: $chimney-height;
        background-color: #462323;
      }
      > .right {
        transform: translateZ(#{math.div(-$chimney-width, 2)}) translateX(#{math.div(-$chimney-width, 2)}) rotateY(90deg);
      }
      > .left {
        transform: translateZ(#{math.div(-$chimney-width, 2)}) translateX(#{math.div($chimney-width, 2)}) rotateY(90deg);
      }
      > .back {
        transform: translateZ(#{-$chimney-width});
      }
    }

    > .wall {
      &.main {
        &.right,
        &.left,
        &.back {
          width: $width;
          height: $height;
        }

        &.right,
        &.left {
          background: rgb(76 120 160 / 80%);
          .bar {
            width: $width;
            &.top {
              background: rgb(121 157 179);
              height: math.div($height, 2) - 5px;
              transition: 2s ease all;
            }
            &.center {
              background: #b9c9d3;
              height: 20px;
              transform: translateY(math.div($height, 2));
              z-index: 1;
            }
            &.bottom {
              background: #2a221e;
              height: math.div($height, 2);
              transform: translateY(math.div($height, 2));
            }
          }
        }

        &.right {
          z-index: 0;
          right: -50%;
          transform: rotateY(90deg);
        }
        &.left {
          z-index: 0;
          left: -50%;
          transform: rotateY(90deg);
        }
      }

      &.front,
      &.back {
        background: #303030;
      }

      &.front {
        z-index: 1;
        &.left,
        &.right {
          width: #{math.div($width, 2) - math.div($door-width, 2)};
          height: $height;
        }
        &.left {
          transform: translateZ(#{math.div($width, 2)});
        }
        &.right {
          transform: translateX(#{math.div($width, 2) + math.div($door-width, 2)}) translateZ(#{math.div($width, 2)});
        }
        &.top {
          width: $width;
          height: #{$height - $door-height};
          transform: translateZ(#{math.div($width, 2)});
        }
        &.door {
          width: $door-width;
          height: $door-height;
          background: transparent;
          transform: translateX(#{math.div($width, 2) - math.div($door-width, 2)}) translateY(#{$height - $door-height})
            translateZ(#{math.div($width, 2)});
          perspective: 6000px;
          transform-style: preserve-3d;

          .slide {
            background: rgb(76 136 160 / 50%);
            width: $door-width;
            height: $door-height;
            z-index: 2;
            transition: 1s ease all;
            &.s1 {
              transform: rotateY(0deg);
            }
            &.s2 {
              transform: rotateY(90deg);
            }
            .frame {
              z-index: 3;
              background: #222121;
              &.center,
              &.right,
              &.left {
                width: $door-frame-width;
                height: $door-height;
              }
              &.center {
                transform: translateX(#{math.div($door-width, 2) - math.div($door-frame-width, 2)});
              }
              &.right {
                transform: translateX(#{$door-width - ($door-frame-width)});
              }

              &.top,
              &.bottom {
                width: $door-width;
                height: $door-frame-width;
              }
              &.bottom {
                transform: translateY(#{$door-height - $door-frame-width});
              }
            }
          }
        }
      }
      &.back {
        z-index: -1;
        transform: translateZ(#{math.div(-$width, 2)});
      }
    }

    > .grass {
      width: #{$width + $extra-grass};
      height: #{$height + $extra-grass};
      background: #39523c;
      transform: rotateX(90deg) translateX(#{math.div(-$extra-grass, 2)})
        translateZ(#{math.div(-$height, 2) + math.div($extra-grass, 2) - $base-height});
    }

    > .fence {
      transform-style: preserve-3d;
      transform: translateY(#{$height - $fence-height});
      > .back {
        transform: translateX(math.div(-$extra-fence, 2)) translateZ(#{math.div(-$width, 2) - $extra-fence});
      }
      > .right {
        transform: rotateY(90deg) translateZ(math.div(-$extra-fence, 2))
          translateX(#{math.div(-$width, 2) - math.div($fence-width, 2)});
      }
      > .left {
        transform: rotateY(90deg) translateZ(#{math.div($extra-fence, 2) + $width})
          translateX(#{math.div(-$width, 2) - math.div($fence-width, 2)});
      }
      .piece {
        width: $fence-width;
        height: $fence-height;
        background-color: #222121;

        @for $i from 1 through $pieces {
          &.p#{$i} {
            transform: translateX(#{($fence-width + $fence-spacing) * ($i - 1)});
          }
        }
      }
    }

    > .base {
      width: #{$width + $extra-base};

      &.front,
      &.back,
      &.left,
      &.right {
        height: $base-height;
      }

      &.top,
      &.bottom {
        background: #9c9c9c;
        height: #{$height + $extra-base};
      }
      &.right,
      &.left {
        background: #909090;
      }
      &.front,
      &.back {
        background: #969696;
      }
      &.top {
        transform: rotateX(90deg) translateX(#{math.div(-$extra-base, 2)})
          translateZ(#{math.div(-$height, 2) + math.div($extra-base, 2)});
      }
      &.bottom {
        transform: rotateX(90deg) translateX(#{math.div(-$extra-base, 2)})
          translateZ(#{math.div(-$height, 2) + math.div($extra-base, 2) - $base-height});
      }
      &.front {
        transform: translateX(#{math.div(-$extra-base, 2)}) translateY(#{$height})
          translateZ(#{math.div($width, 2) + math.div($extra-base, 2)});
      }
      &.back {
        transform: translateX(#{math.div(-$extra-base, 2)}) translateY(#{$height})
          translateZ(#{(math.div(-$width, 2)) - math.div($extra-base, 2)});
      }
      &.right {
        transform: rotateY(90deg) translateY(#{$height}) translateZ(#{math.div($width, 2)});
      }
      &.left {
        transform: rotateY(90deg) translateY(#{$height}) translateZ(-#{math.div($width, 2) + $extra-base});
      }
    }

    > .roof {
      width: #{$width + $extra-roof};

      &.front,
      &.back,
      &.right,
      &.left {
        height: $roof-height;
      }

      &.top,
      &.bottom {
        background: #4e4e4e;
        height: #{$height + $extra-roof};
      }
      &.front,
      &.back {
        background: #414141;
      }
      &.right,
      &.left {
        background: #474747;
      }
      &.bottom {
        transform: rotateX(90deg) translateX(#{math.div(-$extra-roof, 2)})
          translateZ(#{math.div($height, 2) + math.div($extra-roof, 2)});
      }
      &.top {
        transform: rotateX(90deg) translateX(#{math.div(-$extra-roof, 2)})
          translateZ(#{math.div($height, 2) + math.div($extra-roof, 2) + $roof-height});
      }
      &.front {
        transform: translateX(#{math.div(-$extra-roof, 2)}) translateY(#{-$roof-height})
          translateZ(#{math.div($width, 2) + math.div($extra-roof, 2)});
      }
      &.back {
        transform: translateX(#{math.div(-$extra-roof, 2)}) translateY(#{-$roof-height})
          translateZ(-#{math.div($width, 2) + math.div($extra-roof, 2)});
      }
      &.left {
        transform: rotateY(90deg) translateY(#{-$roof-height}) translateZ(-#{math.div($width, 2) + $extra-roof});
      }
      &.right {
        transform: rotateY(90deg) translateY(#{-$roof-height}) translateZ(#{math.div($width, 2)});
      }
    }

    &:hover {
      .s1 {
        transform: rotateY(360deg) !important;
      }
      .s2 {
        transform: rotateY(450deg) !important;
      }

      .bar.top {
        height: 20px !important;
      }
    }
  }
}
