main.section-grid {
  .builder-container {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;

    nn-row {
      justify-content: center;
      margin-bottom: 0;

      nn-column {
        transition: all ease 500ms;
      }

      button {
        width: 100%;
        padding: 13px 8px;
        margin-bottom: 3px;
      }
    }
  }

  .workarea {
    nn-scroll-area {
      height: 100%;
      display: flex;
    }

    .hljs {
      background-color: #191a1b;
      border: 1px solid #1b1b23;
    }

    .vue-code {
      position: fixed;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      pointer-events: none;
      opacity: 0;
      z-index: -1;
    }
  }
}

main.section-grid-gallery {
  .workarea {
    .fheight {
      > nn-row {
        height: 300px;
      }
      // padding-bottom: 0.25rem;
    }
    .btn {
      min-width: 0 !important;
      min-height: 0 !important;
      overflow: hidden;
      height: 100%;
      width: 100% !important;
      box-shadow: none !important;
    }
  }
}