.slide-fade-enter-active {
  transition: all 200ms ease;
}
.slide-fade-leave-active {
  transition: all 200ms cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.animation-rotate {
  animation: rotate-y 15s linear infinite;
}

@keyframes rotate-y {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes chaos {
  from {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes swim {
  from {
    transform: rotateZ(-10deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

@keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1200px 1200px;
  }
}

@keyframes rtr {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rtl {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes sky {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 800px 0;
  }
}

.rtl,
.rtr {
  transform: rotateZ(360deg);
}

.rtl {
  animation: rtl linear 9s infinite;
}

.rtr {
  animation: rtr linear 9s infinite;
}
