h1 {
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  color: var(--color-title);
  letter-spacing: 2px;
}

h2 {
  font-weight: 400;
  font-size: 18px;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
}

p,
li {
  font-size: 16px;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0 0 0.5rem;
}

.table {
  text-transform: uppercase;

  h2 {
    font-size: 13px;
    letter-spacing: 3px;
  }
  h3 {
    font-size: 13px;
    letter-spacing: 3px;
  }
  h4 {
    font-size: 12px;
    letter-spacing: 3px;
  }
  time {
    font-weight: 300;
    letter-spacing: 3px;
  }
}