&.dragon {
	background-color: #3e8bad;

	.bk-ornament {
		right: -600px;
		bottom: -675px;
		width: 1350px;
		height: 1350px;
		transform: rotate(360deg);
		animation: rtl linear 20s infinite;
		background: url(get-zapp("img/2014/dragon.svg")) center center no-repeat;
	}

	.bird {
		background-image: url(get-zapp("img/2014/sprites-06.webp")) !important;
	}
}
