&.sunset {
	background-color: #b35739;

	.bk-ornament {
		right: 20%;
		bottom: 120px;
		width: 200px;
		height: 160px;
		background: url(get-zapp("img/2014/sprites-01.webp")) no-repeat;
		background-position: -5px -2px;
	}
}
