&.underwater {
	background-color: #ea916a;

	.bk-ornament {
		right: 100px;
		bottom: 50px;
		width: 450px;
		height: 370px;
		animation: mud ease-in-out 3s infinite alternate;
		background-image: url(get-zapp("img/2014/bk_b4_city.webp"));
		background-repeat: no-repeat;
		background-position: center center;
	}

	.bird {
		background-image: url(get-zapp("img/2014/sprites-06.webp")) !important;
	}

	@keyframes mud {
		from {
			bottom: 60px;
		}
		to {
			bottom: 80px;
		}
	}
}
